<h1>Open Defects</h1>

<% if @team %>
	<h2> team <%= link_to @team.name, team_path(@team) %> </h2>
<% end %>

<% if @project %>
	<h2> project <%= link_to @project.name, project_path(@project) %> </h2>
<% end %>

<%= render "open_defects/list", :open_defects => @open_defects %>

<br />

<%= link_to 'Add Open Defects', new_open_defect_path, :project => @project, :class => "button" %>
